.container {
    padding: 1rem 0;

    .options-wrap {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        margin-bottom: 10px;

        .label {
            flex: 0 1 60px;
        }

        .options {
            flex: 1;
            color: #8e8e8e;

            .option-item {
                margin-right: 1rem;
            }
        }
    }
}
