.difficult-table {
    position: absolute;
    top: 1rem;
    right: 4rem;
}

button {
    margin: 0 0.3rem;
}

.mat-raised-button {
    padding: 0 8px;
    min-width: 0;
}

@media (max-width: 900px) {
    .difficult-table {
        position: static;
    }
}
