.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    min-width: 1600px;

    home-header {}

    home-main {
        flex: 1;
        overflow: auto;
    }

    home-footer {
        flex: 0 0 25px;
    }
}
