<div class="main">
    <div class="map-wrapper">
        <search-input (searchChange)="onSearch()"></search-input>
        <mat-tab-group [(selectedIndex)]="tabIndex" (selectedTabChange)="onTabChange()">
            <mat-tab>
                <ng-template mat-tab-label>最新map</ng-template>
                <new-maps></new-maps>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>热门map</ng-template>
                <hot-maps></hot-maps>
            </mat-tab>
            <mat-tab>

                <ng-template mat-tab-label>搜索结果</ng-template>
                <search-maps></search-maps>
            </mat-tab>
        </mat-tab-group>
    </div>

    <info-cards></info-cards>
</div>
