@import '../home_main';

.main {
    display: flex;
    height: 100%;
    width: 100%;
    background: #ececec;
    padding: 1.5em 7em 1em;

    .map-wrapper {
        position: relative;
        height: 100%;
        flex: 1;
        background: #fff;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);

        search-input {
            position: absolute;
            right: 15px;
            top: 5px;
            z-index: 10;
            width: 50%;
        }

        mat-tab-group {
            overflow: auto;
            height: 100%;
        }

        turn-page {
            position: absolute;
            bottom: 0;
            z-index: 10;
            width: 100%;
            background: #fff;
        }
    }

    info-cards {
        overflow: auto;
        height: 100%;
        flex: 0 0 20vw;
        padding-left: 2em;
    }
}

.results {
    padding-left: 2rem;
    margin: 5px 0;

    span {
        margin: 0 .3em;
        color: #ff0000;
    }
}
