<div class="main">
    <div class="map-wrapper">
        <div class="seach-wrapper">
            <mat-form-field>
                <input matInput #download placeholder="在这里输入点什么……" (keyup.enter)="search(download.value)">
            </mat-form-field>
            <button mat-button (click)="search(download.value)">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <mat-tab-group [(selectedIndex)]="tabIndex">
            <mat-tab>
                <ng-template mat-tab-label>
                    最新map
                </ng-template>
                <div class="map-content customer-scroll">
                    <div>
                        <mat-grid-list cols="4" rowHeight="900:250" gutterSize="0">
                            <mat-grid-tile *ngFor="let map of apiService.newMap">
                                <img [src]="'https://assets.ppy.sh/beatmaps/'+ map.sid +'/covers/cover.jpg?295843639'"
                                    (click)="opneMapDetail(map.sid)">
                            </mat-grid-tile>
                        </mat-grid-list>
                        <button mat-button class="getMore-btn" *ngIf="apiService.newEndId !== 0" (click)="getNewMore()">点击查看更多</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    热门map
                </ng-template>
                <div class="map-content">
                    <mat-grid-list cols="4" rowHeight="900:250" gutterSize="0">
                        <mat-grid-tile *ngFor="let map of apiService.hotMap" (click)="opneMapDetail(map.sid)">
                            <img [src]="'https://assets.ppy.sh/beatmaps/'+ map.sid +'/covers/cover.jpg?295843639'">
                        </mat-grid-tile>
                    </mat-grid-list>
                    <button mat-button class="getMore-btn" *ngIf="apiService.hotEndId !== 0" (click)="getHotMore()">点击查看更多</button>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    搜索结果
                </ng-template>
                <div class="map-content" *ngIf="apiService.searchMap">
                    <mat-grid-list cols="4" rowHeight="900:250" gutterSize="0">
                        <mat-grid-tile *ngFor="let map of apiService.searchMap" (click)="opneMapDetail(map.sid)">
                            <img [src]="'https://assets.ppy.sh/beatmaps/'+ map.sid +'/covers/cover.jpg?295843639'">
                        </mat-grid-tile>
                    </mat-grid-list>
                    <button mat-button class="getMore-btn" *ngIf="apiService.searchEndId !== 0" (click)="getSearchMore()">点击查看更多</button>
                </div>

                <div class="map-content" *ngIf="!apiService.searchMap">
                    没有任何任容哦~检查一下搜索的内容对不对！或者没有找到符合的图呢~
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>


    <div class="info-wrapper">
        <mat-card class="m-b-2 support-sayobot">
            <mat-card-header>
                <mat-card-title>当前捐助进度条</mat-card-title>
                <mat-card-subtitle>点击上方导航的支持来捐助小夜</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="progress-bg">
                    <div class="progress-bar" [ngStyle]="{'width': apiService.totalWidth}"></div>
                    <span class="progress-percent">{{apiService.totalWidth}}</span>
                    <span class="support">${{apiService.support.total}}/${{apiService.support.target}}</span>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="m-y-2 announce-wrapper">
            <mat-card-header>
                <mat-card-title>公告栏</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h2>{{apiService.public.summary}}</h2>
                <p>{{apiService.public.content}}</p>
                <div *ngFor="let item of apiService.public.img">
                    <img [src]="item.url" alt="">
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>
