@import '../home_main';

.main {
    display: flex;
    height: 100%;
    width: 100%;
    background: #ececec;
    padding: 1.5em 7em 0;

    .map-wrapper {
        position: relative;
        height: 100%;
        flex: 1;
        background: #fff;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);

        .map-nav {
            height: 40px;
            display: flex;
            align-items: center;

            .map-nav-item {
                height: 40px;
                padding: 0 16px;
                cursor: pointer;
                box-sizing: border-box;
                opacity: .6;
                min-width: 120px;
                text-align: center;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                position: relative;
            }
        }

        search-input {
            position: absolute;
            right: 3px;
            top: 1px;
            z-index: 10;
            width: 50%;
        }

        mat-tab-group {
            overflow: auto;
            height: 100%;
        }

        turn-page {
            position: absolute;
            bottom: 0;
            z-index: 10;
            width: 100%;
            background: #fff;
        }
    }

    info-cards {
        overflow: auto;
        height: 100%;
        flex: 0 0 20vw;
        padding-left: 2em;
    }
}

.active {
    border-bottom: 3px solid #000000;
}
