<div class="main">
    <div class="map-wrapper">
        <search-input></search-input>
        <nav class="map-nav">
            <a [routerLink]="[ '/home/new']" class="map-nav-item" [title]="'maps.placeholder' | translate" routerLinkActive="active">{{ 'maps.newMap' | translate }}</a>
            <a [routerLink]="[ '/home/hot']" class="map-nav-item" routerLinkActive="active">{{ 'maps.hotMap' | translate }}</a>
            <a [routerLink]="[ '/home/search']" class="map-nav-item" routerLinkActive="active">{{ 'maps.searchMap' | translate }}</a>
        </nav>

        <router-outlet></router-outlet>
        <turn-page></turn-page>

    </div>

    <info-cards></info-cards>
</div>