:host {
    min-width: 320px;
    flex: 0 1 50%;
}

@media (max-width: 800px) {
    :host {
        flex: 0 1 100%;
    }
}

$space: 4px;
$padding-size: 1rem;

.map-wrap {
    margin: 5px;
    box-shadow: 0 1px 3px 2px #999;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 1px 10px 1px #999;
    }

    .img-wrap {
        position: relative;
        color: #fff;
        font-size: 0;

        & > div {
            position: absolute;
        }

        .overlay {
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            top: 0;
        }

        .title {
            bottom: 0;
            height: 32px;
            width: 100%;
            line-height: 32px;
            padding: 0 $padding-size;
            font-size: 24px;
        }

        .status,
        .sid,
        .play-count,
        .favorite {
            font-size: 12px;
        }

        .status {
            top: $space;
            left: $padding-size;
            font-size: 12px;
            background: #000;
            padding: 0.12rem 1rem;
            border-radius: 10px;
        }

        .play-count {
            top: $space;
            right: $padding-size;
        }

        .favorite {
            top: 7 * $space;
            right: $padding-size;
        }

        .play-count,
        .favorite {
            mat-icon {
                margin-left: 0.3rem;
            }
        }
    }

    .info {
        padding: $padding-size $padding-size 0.5rem;
        font-size: 12px;
        position: relative;

        .creator,
        .artist {
            display: flex;
            .label-wrap {
                width: 54px;
                display: inline-flex;
                justify-content: space-between;
            }
        }

        .action {
            position: absolute;
            bottom: 0.5rem;
            right: 1rem;

            mat-icon {
                margin-left: 0.3rem;
            }
        }
    }
}

.std {
    background-image: url('/assets/img/common/mode_std.png');
}

.taiko {
    background-image: url('/assets/img/common/mode_taiko.png');
}

.catch {
    background-image: url('/assets/img/common/mode_catch.png');
}

.mania {
    background-image: url('/assets/img/common/mode_mania.png');
}
