<div class="map-detail-echart">
    <div class="switch-btns">
        <mat-radio-group [(ngModel)]="chartType">
            <mat-radio-button value="radar">{{
                'mapDetail.radar' | translate
            }}</mat-radio-button>
            <mat-radio-button value="currve">{{
                'mapDetail.curve' | translate
            }}</mat-radio-button>
        </mat-radio-group>
    </div>

    <ng-container *ngIf="chartType === 'radar'">
        <div class="radar-wrapper">
            <div
                class="map-detail-radar-echart"
                echarts
                [options]="radarOptions"
            ></div>
        </div>
    </ng-container>

    <ng-container *ngIf="chartType === 'currve'">
        <ng-container *ngIf="currveOptions; else noData">
            <div
                echarts
                [options]="currveOptions"
                class="map-detail-curve-echart"
            ></div>
        </ng-container>

        <ng-container *ngIf="currveOptions">
            <div class="progress-wrapper">
                <mat-progress-bar mode="determinate" [value]="rangeValue">
                </mat-progress-bar>
                <div class="count">
                    <span>{{ aim | number: '0.0-2' }}</span>
                    <span>{{ speed | number: '0.0-2' }}</span>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #noData>
    <div class="empty">
        <div class="float-label">暂无数据</div>
    </div>
</ng-template>
