<div class="map-detail-echart">
    <div>
        <div
            echarts
            [options]="radarOptions"
            class="map-detail-radar-echart"
        ></div>
        <div class="progress-wrapper">
            <mat-progress-bar mode="determinate" [value]="rangeValue">
            </mat-progress-bar>
            <div class="count">
                <span>{{ aim | number: '0.0-2' }}</span>
                <span>{{ speed | number: '0.0-2' }}</span>
            </div>
        </div>
    </div>

    <div
        echarts
        [options]="currveOptions"
        class="map-detail-curve-echart"
    ></div>
</div>
