<div class="title">
    {{ categoryList?.title }}
</div>

<div class="opts-container">
    <mat-checkbox
        (change)="masterToggoe($event?.checked)"
        [checked]="isAllSelected"
        [indeterminate]="indeterminate"
        [disabled]="isOnly || isAllSelected"
        >全部
    </mat-checkbox>

    <ng-container *ngFor="let ins of categoryList?.options">
        <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="handleInsChange($event?.checked, ins?.key)"
            [checked]="selected.has(ins?.key)"
            [disabled]="isOnly && selected.has(ins?.key)"
            >{{ ins?.title }}
        </mat-checkbox>
    </ng-container>
</div>
