$icon-size: 3rem;

.donation-card {
    position: fixed;
    left: 2rem;
    top: 10rem;
    width: 300px;

    .open {
        cursor: pointer;
        height: $icon-size;
        width: $icon-size;
        font-size: $icon-size;
        box-shadow: 0 0 10px 1px #aaa;
        border-radius: 50%;
    }

    .card {
        position: relative;

        .close {
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    }

    .title {
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 12px;
        font-size: 20px;
        font-weight: 500;
    }

    .subtitle {
        margin-top: -8px;
        margin-bottom: 16px;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
    }

    .last-date {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 12px;
    }

    .progress-bg {
        position: relative;
        height: 50px;
        border-radius: 10px;
        box-shadow: inset 0 0 10px #ccc;
        font-family: Arial, sans-serif;
        font-weight: 600;
    }

    .progress-bar {
        height: 50px;
        border-radius: 10px;
        background: #ff4081;
        animation: flicker 1s infinite ease-in-out;
        border-radius: 10px;
    }

    .support {
        display: block;
        font-size: 12px;
        text-align: right;
        color: #333;
        margin-top: 6px;
        padding-right: 6px;
    }

    .progress-percent {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translate(0, -50%);
    }
}

// 闪烁动画
@keyframes flicker {
    0% {
        box-shadow: 0 0 0px 5px #ddd;
    }

    50% {
        box-shadow: 0 0 5px 0px #a5a5a5;
    }

    100% {
        box-shadow: 0 0 0px 5px #ddd;
    }
}

@media screen and (max-width: 600px) {
    :host {
        display: none;
    }
}
