<div class="container page">
    <ng-content></ng-content>
    <map-search-box
        (search)="search($event)"
        (optChange)="onOptionsChange($event)"
    ></map-search-box>
    <map-search-quickbar (quickSearch)="onQuickSearch($event)">
    </map-search-quickbar>
    <app-loading [loading]="loading"></app-loading>
    <map-search-results *ngIf="!loading" [maps]="results"></map-search-results>

    <map-search-paginnator (change)="onPagechange($event)">
    </map-search-paginnator>
</div>
