<div class="container page">
    <ng-content></ng-content>

    <div class="search-box-container">
        <mat-icon
            class="icon-m icon-options ab-center-y"
            (click)="openAdvanceOptions()"
            matTooltip="{{ 'searchCtx.box.optTip' | translate }}"
        >
            menu</mat-icon
        >
        <input
            class="box"
            placeholder="{{ 'searchCtx.placeholder' | translate }}"
            #searchBox
            (keyup.enter)="search(searchBox.value)"
            [(ngModel)]="keyword"
        />
        <mat-icon
            class="icon-m icon-search ab-center-y"
            (click)="search(searchBox.value)"
            >search</mat-icon
        >
    </div>

    <ul class="search-bar">
        {{
            'searchCtx.quick.title' | translate
        }}：
        <li class="quick-search" (click)="quickSearch('new')">
            {{ 'searchCtx.quick.new' | translate }}
        </li>
        <li class="quick-search" (click)="quickSearch('hot')">
            {{ 'searchCtx.quick.hot' | translate }}
        </li>
    </ul>

    <app-loading [loading]="loading"></app-loading>
    <map-search-results *ngIf="!loading" [maps]="results"></map-search-results>

    <div class="paginnator">
        <mat-icon
            class="arrow left"
            [class.disabled]="offsetStack.length <= 2"
            (click)="prevPage()"
        >
            keyboard_arrow_left
        </mat-icon>
        <mat-icon class="arrow right" (click)="getMapList()">
            keyboard_arrow_right
        </mat-icon>
    </div>
</div>
