@import '../../../../theme/icon';

.container {
    position: relative;
    padding-top: 3rem;
}
.search-bar {
    display: flex;
    font-size: 12px;
    color: #999;
    height: 1.35rem;
    line-height: 1.35rem;
    margin-bottom: 1rem;

    .quick-search {
        cursor: pointer;
        margin: 0 3px;
    }
}

.paginnator {
    display: flex;
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

    .mat-icon {
        color: #fff;
        background: #1d1d1d;
        border-radius: 50%;

        @extend .icon-xl;

        &.disabled {
            background-color: grey;
            color: #d1d1d1;
        }
    }

    .left {
        margin-right: 1rem;
    }
}

.search-box-container {
    position: relative;
    margin-top: 3rem;

    &:hover {
        .icon-close {
            display: block;
        }
    }

    .box {
        width: 100%;
        border: 1px solid #c5c5c5;
        outline: none;
        border-radius: 5px;
        padding: 0 6rem 0 1rem;
        height: 40px;
        line-height: 40px;
        font-size: 12px;

        &:hover {
            box-shadow: 0 1px 5px #c5c5c5;
        }
    }

    .icon-options {
        right: 8px;
    }

    .icon-search {
        right: 34px;
    }

    .icon-close {
        display: none;
        right: 66px;
        height: 1rem;
        width: 1rem;
        font-size: 1rem;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        padding-top: 10px;
    }
    .search-box-container {
        margin-top: 10px;
    }
}
