.map-detail-echart {
    display: flex;
    justify-content: space-around;
}

#map-detail-radar-echart {
    height: 300px;
    width: 400px;
}

#map-detail-curve-echart {
    height: 300px;
    width: 600px;
}

.count {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    #map-detail-radar-echart,
    .progress-wrapper {
        display: none;
    }
    #map-detail-curve-echart {
        height: 300px;
        width: 100%;
    }
}