.range-slider-container {
    display: flex;

    .range-slider-title {
        display: flex;
        align-items: center;
        width: 6.25rem;
    }

    .range-slider-content {
        flex: 1;
        display: flex;
        justify-content: space-between;

        .slider-item {
            flex: 1;
            display: flex;
            align-items: center;
            margin-right: 3rem;

            .slider-label {
                margin-right: 0.5rem;
            }

            .mat-slider {
                margin-right: 0.5rem;
                flex: 1;
            }

            input[type='number'] {
                width: 4rem;
            }
        }
    }
}
