<div class="range-slider-container">
    <div class="range-slider-title">
        {{ rangeOpt?.title }}
    </div>
    <div class="range-slider-content">
        <div class="slider-item">
            <div class="slider-label">Low</div>
            <mat-slider
                thumbLabel
                [max]="rangeOpt?.max"
                [min]="rangeOpt?.min"
                [step]="0.1"
                [(ngModel)]="low"
            >
            </mat-slider>
            <input
                type="number"
                [max]="rangeOpt?.max"
                [min]="rangeOpt?.min"
                [(ngModel)]="low"
            />
        </div>
        <div class="slider-item">
            <div class="slider-label">High</div>
            <mat-slider
                thumbLabel
                [max]="rangeOpt?.max"
                [min]="rangeOpt?.min"
                [step]="0.1"
                [(ngModel)]="high"
            >
            </mat-slider>
            <input
                type="number"
                [max]="rangeOpt?.max"
                [min]="rangeOpt?.min"
                [(ngModel)]="high"
            />
        </div>
    </div>
</div>
