.range-slider-container {
    display: flex;

    .range-slider-title {
        display: flex;
        align-items: center;
        width: 6.25rem;
    }

    .range-slider-content {
        width: 90%;
    }
}
