<div class="map-summary">
    <span class="status">{{getStatus() | uppercase}}</span>
    <img [src]="setImgUrl(preview.sid)" class="pre-img" (click)="opneMapDetail(preview.sid)">
    <dl>
        <dt>
            <h3>{{preview.title}}</h3>
        </dt>
        <dd>Artist：{{preview.artist}}</dd>
        <dd>Creator：{{preview.creator}}</dd>
        <div class="modes">
            <i class="std mode-icon" *ngIf="preview.modes >= 1"></i>
            <i class="taiko mode-icon" *ngIf="preview.modes >= 2"></i>
            <i class="catch mode-icon" *ngIf="preview.modes >= 4"></i>
            <i class="mania mode-icon" *ngIf="preview.modes >= 8"></i>
        </div>
    </dl>
    <span class="player-count">{{preview.order}}&nbsp;<i class="material-icons">play_circle_outline</i></span>
    <span class="favorite-count">{{preview.favourite_count}}&nbsp;<i class="material-icons">favorite_border</i></span>
    <span [ngSwitch]="isPlay()" class="music-icon">
        <i *ngSwitchCase="false" class="material-icons" (click)="play()">play_arrow</i>
        <i *ngSwitchCase="true" class="material-icons" (click)="pause()">pause</i>
    </span>
    <span class="down-icon"><i class="material-icons" (click)="onDownLoad(mapUrlV2)">cloud_download</i></span>
</div>
