.loading-wrap {
    margin: 2vw 0;
    height: 6vw;

    .item {
        height: 5vw;
        width: 1.5vw;
        background: #1d1d1d;
        margin: 0 0.2rem;
        animation: loading 500ms ease-in-out infinite;
    }

    .delay1 {
        animation-delay: 50ms;
    }
    .delay2 {
        animation-delay: 100ms;
    }
    .delay3 {
        animation-delay: 150ms;
    }
    .delay4 {
        animation-delay: 200ms;
    }
    .delay5 {
        animation-delay: 250ms;
    }
}

@keyframes loading {
    0% {
        height: 5vw;
    }

    50% {
        height: 1vw;
    }

    100% {
        height: 5vw;
    }
}
