<ng-container *ngIf="mapType === 'hot'">
    <div class="map-content">
        <mat-grid-list
            *ngIf="maps.hotMap"
            [cols]="responsive.cols"
            gutterSize=".3em"
            rowHeight="900: 480"
        >
            <mat-grid-tile *ngFor="let map of maps.hotMap">
                <preview-card [preview]="map"></preview-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</ng-container>

<ng-container *ngIf="mapType === 'new' && maps.newMap">
    <div class="map-content">
        <mat-grid-list
            *ngIf="maps.newMap"
            [cols]="responsive.cols"
            gutterSize=".3em"
            rowHeight="900: 480"
        >
            <mat-grid-tile *ngFor="let map of maps.newMap">
                <preview-card [preview]="map"></preview-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</ng-container>

<ng-container *ngIf="mapType === 'search' && search.searchKey">
    <div class="map-content">
        <search-statis
            *ngIf="search.searchResult"
            [statis]="search.getSearchStatis()"
        ></search-statis>
        <mat-grid-list
            *ngIf="search.searchMap.length > 0"
            rowHeight="900: 480"
            gutterSize=".3em"
            [cols]="responsive.cols"
        >
            <mat-grid-tile *ngFor="let map of search.searchMap">
                <preview-card [preview]="map"></preview-card>
            </mat-grid-tile>
        </mat-grid-list>

        <ng-container *ngIf="!search.searchResult">
            <p>哎呀！Sayobot没有找到你想要的内容哦！</p>
            <p>
                您输入的内容是：<span class="key">{{ search.searchKey }}</span>
            </p>
            <p>
                检查一下有没有输错了吧！目前可以搜索的有以下几种，输入其中的一种试试？
            </p>
            <ul class="key-list">
                <li>链接</li>
                <li>sid</li>
                <li>bid</li>
                <li>标题</li>
                <li>作曲家</li>
                <li>作图者</li>
                <li>标签</li>
                <li>难度名</li>
            </ul>
        </ng-container>
    </div>
</ng-container>
