@mixin text-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 高亮关键文字
.high-light-text {
    font-weight: lighter;
    border-bottom: 2px solid #000;
    padding: 0 0.5em;
}

:root {
    --light-theme-primary: #1d1d1d;
    --light-theme-accent: #ff4081;
    --light-theme-warn: #850808;
    --light-font-color: #fff;
}

.page {
    width: 98vw;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
}

.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mat-tooltip {
    background: rgba(0, 0, 0, 0.9);
}
