.flex-center-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 布局
.flex-spacer {
    flex: 1;
}

// 去除图片造成的文字空隙
.img-box {
    font-size: 0;
}

.m-y-1 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.m-y-2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.m-b-2 {
    margin-bottom: 8px;
}

@mixin flex-layout($x: center, $y: center) {
    display: flex;
    justify-content: $x;
    align-items: $y;
}

// 盒子模型
@mixin box-model($m: 0, $p: 0, $b: 1px solid #000, $s: border-box, $w: 100%) {
    margin: $m;
    padding: $p;
    border: $b;
    box-sizing: $s;
    width: $w;
}
