//滚动条整体部分，其中的属性有width,height,background,border（就和一个块级元素一样）等
*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

//滚动条两端的按钮。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果
*::-webkit-scrollbar-button {
    display: none;
}

// 外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果
*::-webkit-scrollbar-track {
    background: #ffffff;
}

//内层轨道，滚动条中间部分
*::-webkit-scrollbar-track-piece {
    background: #ffffff;
}

//滚动条里面可以拖动的那部分
*::-webkit-scrollbar-thumb {
    background: #808080;
}

//边角
*::-webkit-scrollbar-corner {
    background: #ffffff;
}

//定义右下角拖动块的样式
*::-webkit-scrollbar-resizer {
    background: #ffffff;
}
