<div class="login">
    <mat-card>
        <mat-card-header>
            <mat-card-title>登陆</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>username</mat-label>
                    <input matInput>
                    <mat-icon matSuffix><img src="/assets/img/icon/user.png" alt=""></mat-icon>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>password</mat-label>
                    <input matInput type="password">
                    <mat-icon matSuffix><img src="/assets/img/icon/password-not-view.png" alt=""></mat-icon>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions align="center">
            <button mat-raised-button color="primary">login</button>
        </mat-card-actions>
    </mat-card>
</div>
