<header class="flex-between-center">
    <h1 class="logo" routerLink="/">Sayobot's Home</h1>

    <div class="menus">
        <div class="menus-sm">
            <button mat-button [matMenuTriggerFor]="menu">
                Menu
            </button>
        </div>


        <div class="menus-bg">
            <button mat-button [matMenuTriggerFor]="langMenu">
                {{ 'header.Language' | translate }}
            </button>
            <button mat-button routerLink="/support">
                {{ 'header.support' | translate }}
            </button>
            <button mat-button [matMenuTriggerFor]="appMenu">
                {{ 'header.setting' | translate }}
            </button>
        </div>
    </div>
</header>


<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="langMenu">
        {{ 'header.Language' | translate }}
    </button>
    <button mat-menu-item routerLink="/support">
        {{ 'header.support' | translate }}
    </button>
    <button mat-menu-item [matMenuTriggerFor]="appMenu">
        {{ 'header.setting' | translate }}
    </button>
</mat-menu>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="openHelpDialog()">
        <mat-icon>help</mat-icon>
        <span>{{ 'header.help' | translate }}</span>
    </button>
    <button mat-menu-item (click)="openAboutDialog()">
        <mat-icon>person</mat-icon>
        <span>{{ 'header.about' | translate }}</span>
    </button>
    <button mat-menu-item>
        <mat-icon>update</mat-icon>
        <span routerLink="/update">{{ 'header.update' | translate}}</span>
    </button>
    <button mat-menu-item>
        <mat-icon>update</mat-icon>
        <span routerLink="/device">{{  'header.device' | translate}}</span>
    </button>
    <button mat-menu-item disabled style="color: #aaa">
        <mat-icon>share</mat-icon>
        <span>{{ 'header.share' | translate }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="lineMenu">
        <mat-icon>rotate_left</mat-icon>
        <span>{{ 'header.line' | translate }}</span>
    </button>
</mat-menu>

<mat-menu #lineMenu="matMenu">
    <button mat-menu-item *ngFor="let server of serverMange.serveList"
        (click)="serverMange.changeServer(server.server)">
        <mat-icon>
            <ng-container *ngIf="server.isSelect">
                check
            </ng-container>
        </mat-icon>
        <span>{{ server.name }}</span>
    </button>
</mat-menu>

<mat-menu #langMenu="matMenu">
    <button mat-menu-item *ngFor="let item of language" (click)="useLanguage(item.key)">
        <mat-icon><img [src]="item.flag" alt="item.key" /></mat-icon>{{ item.title }}
    </button>
</mat-menu>
