<header>
    <h1 class="logo" routerLink="/">Sayobot's Home</h1>

    <div class="menus">
        <div class="menus-sm">
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        </div>

        <!-- 大屏 - 导航菜单 -->
        <div class="menus-bg">
            <button mat-button [matMenuTriggerFor]="langMenu" matTooltip="选择语言">
                <mat-icon><img src="{{langIcon}}" />
                </mat-icon>
            </button>

            <button mat-button routerLink="/support">
                {{ 'header.support' | translate }}
            </button>
            <button mat-button routerLink="/about">
                关于
            </button>
            <button mat-button [matMenuTriggerFor]="otherMenu">
                更多
            </button>
        </div>
    </div>
</header>

<!-- 小屏 - 导航菜单 -->
<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="langMenu">
        {{ 'header.Language' | translate }}
    </button>
    <button mat-menu-item routerLink="/support">
        {{ 'header.support' | translate }}
    </button>
    <button mat-menu-item routerLink="/about">
        关于
    </button>
    <button mat-menu-item [matMenuTriggerFor]="otherMenu">
        更多
    </button>
</mat-menu>

<!-- 其他菜单 -->
<mat-menu #otherMenu="matMenu">
    <button mat-menu-item (click)="openHelpDialog()">
        <mat-icon>help</mat-icon>
        <span>{{ 'header.help' | translate }}</span>
    </button>
    <button mat-menu-item>
        <mat-icon>update</mat-icon>
        <span routerLink="/history">{{ 'header.update' | translate }}</span>
    </button>
    <button mat-menu-item>
        <mat-icon>search</mat-icon>
        <span routerLink="/touchDisk">{{ 'header.device' | translate }}</span>
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span routerLink="/setting">{{ 'header.setting' | translate }}</span>
    </button>
</mat-menu>

<!-- 选择语言菜单 -->
<mat-menu #langMenu="matMenu">
    <button mat-menu-item *ngFor="let item of language"
        (click)="useLanguage(item.key)">
        <mat-icon><img [src]="item.flag" alt="item.key" /></mat-icon>
        {{ item.title }}
    </button>
</mat-menu>
