header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 64px;
    color: #fff;
    background: #1d1d21;
    padding: 0 2rem;
    z-index: 100;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 1.5em;
        line-height: 1.5em;
        font-size: 24px;
        font-weight: normal;
        outline: none;
    }

    .menus {
        .menus-sm {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    header {
        .menus {
            .menus-bg {
                display: none;
            }
            .menus-sm {
                display: block;
            }
        }
    }
}
