.header {
    .title {
        display: inline-block;
        vertical-align: top;
        line-height: 36px;
        font-size: 24px;
        font-weight: normal;
        font-family: 'Lobster Two', 'Monda', 'PingFang SC', 'Microsoft YaHei',
            sans-serif;
    }
    .big-menus {
        display: block;
    }
    .small-menus {
        display: none;
    }
}

.github {
    width: 24px;
}

.no-link {
    color: #000;
}

@media (max-width: 900px) {
    .header {
        .big-menus {
            display: none;
        }
        .small-menus {
            display: block;
        }
    }
}
