@import '../../shared';

.map-summary {
    @include text-no-select();
    width: 100%;
    position: relative;

    .pre-data {
        dd,
        dt,
        h3 {
            @include text-one-line;
        }
    }

    .pre-img {
        cursor: pointer;
        filter: brightness(1);
        transition: all 0.3s;

        &:hover {
            filter: brightness(0.7);
        }
    }

    .status {
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 0.5rem;
        padding: 0.15rem 0.5rem;
        color: #fff;
        z-index: 1;
        font-size: 0.6em;

        i {
            font-size: 16px;
        }
    }

    .player-count {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        align-items: center;
        @include font-icon(13px);

        i {
            font-size: 16px;
        }
    }

    .favorite-count {
        position: absolute;
        right: 0.5rem;
        top: 2.3rem;
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        align-items: center;
        @include font-icon(13px);
    }

    .down-icon {
        position: absolute;
        cursor: pointer;
        bottom: 5px;
        right: 1rem;
        z-index: 1;
        @include font-icon();
    }

    .add-icon {
        position: absolute;
        cursor: pointer;
        bottom: 5px;
        right: 3rem;
        z-index: 1;
        @include font-icon();
    }

    dl {
        padding: 0 0.5em;
        margin-bottom: 5px;

        dt {
            font-size: 0.8em;

            h3 {
                margin: 5px 0;
                @include text-one-line;
            }
        }

        dd {
            @include text-one-line;
            font-size: 0.65em;
            margin: 0;
        }
    }
}

.modes {
    display: flex;
}

.mode-icon {
    display: block;
    width: 18px;
    height: 18px;
}

.std {
    background: url('/assets/img/common/mode_std.png');
}

.taiko {
    background: url('/assets/img/common/mode_taiko.png');
}

.catch {
    background: url('/assets/img/common/mode_catch.png');
}

.mania {
    background: url('/assets/img/common/mode_mania.png');
}
