<ng-container *ngIf="preview">
    <div class="map-summary">
        <span class="status">{{ approved | uppercase }}</span>
        <img
            [src]="setImgUrl(preview.sid)"
            class="pre-img"
            (click)="opneMapDetail(preview.sid)"
        />
        <dl class="pre-data">
            <dt>
                <h3>{{ preview.title }}</h3>
            </dt>
            <dd>Artist：{{ preview.artist }}</dd>
            <dd>Creator：{{ preview.creator }}</dd>
            <div class="modes">
                <i
                    class="std mode-icon"
                    *ngIf="showModes('std', preview.modes)"
                ></i>
                <i
                    class="taiko mode-icon"
                    *ngIf="showModes('taiko', preview.modes)"
                ></i>
                <i
                    class="catch mode-icon"
                    *ngIf="showModes('catch', preview.modes)"
                ></i>
                <i
                    class="mania mode-icon"
                    *ngIf="showModes('mania', preview.modes)"
                ></i>
            </div>
        </dl>
        <span class="player-count">
            {{ preview.order }}&nbsp;
            <mat-icon svgIcon="play-circle"></mat-icon>
        </span>
        <span class="favorite-count">
            {{ preview.favourite_count }}&nbsp;
            <mat-icon svgIcon="favorite"></mat-icon
        ></span>
        <span class="add-icon">
            <mat-icon (click)="addToMusicBox()">add</mat-icon>
        </span>

        <span class="down-icon">
            <mat-icon
                svgIcon="cloud-download"
                (click)="onDownLoad(config.mapV2)"
            ></mat-icon
        ></span>
    </div>
</ng-container>
