@import '../../../../theme/icon';

.paginnator {
    display: flex;
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

    .mat-icon {
        color: #fff;
        background: #1d1d1d;
        border-radius: 50%;

        @extend .icon-xl;
    }

    .left {
        margin-right: 1rem;
    }
}
