<div class="items">
    <div class="item">
        <label class="label one-line">SID</label>
        <span class="content one-line">{{ detail?.sid }}</span>
    </div>

    <div class="item">
        <label class="label one-line">State</label>
        <span class="content one-line">{{ approved | uppercase }}</span>
    </div>

    <div class="item">
        <label class="label one-line">Creater</label>
        <span class="content one-line">{{ detail?.creator }}</span>
    </div>
    <div class="item">
        <label class="label one-line">Artist</label>
        <span class="content one-line">{{ detail.artist }}</span>
    </div>
    <div class="item">
        <label class="label one-line">Source</label>
        <span class="content one-line">{{ detail.source }}</span>
    </div>

    <div class="item">
        <label class="label one-line">Genre</label>
        <span class="content one-line">{{ getGenre(detail?.genre) }}</span>
    </div>

    <div class="item">
        <label class="label one-line">BPM</label>
        <span class="content one-line">{{ detail?.bpm }}</span>
    </div>

    <div class="item">
        <label class="label one-line">Max Combo</label>
        <span class="content one-line">{{ info?.maxcombo }}</span>
    </div>

    <div class="item">
        <label class="label one-line">Length</label>
        <span class="content one-line">{{ info?.length }}</span>
    </div>

    <div class="item">
        <label class="label one-line">Language</label>
        <span class="content one-line">{{
            getLanguage(detail?.language)
        }}</span>
    </div>

    <div class="item">
        <label class="label one-line">Upload time</label>
        <span class="content one-line">{{ getDate(detail?.last_update) }}</span>
    </div>
</div>
