.items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    color: #fff;
    padding: 1rem;
    height: 100%;
    .item {
        display: flex;
        align-items: center;
        .label {
            width: 100px;
            font-weight: bold;
        }
        .content {
            flex: 1;
        }
    }
}

@media (max-width: 900px) {
}
