<header>
    <mat-toolbar color="primary" class="header">
        <mat-toolbar-row>
            <span class="title">This Sayobot's Home</span>
            <span class="flex-spacer"></span>
            <button mat-button (click)="dialog.supprot()">支持</button>
            <button mat-button [matMenuTriggerFor]="appMenu">设置</button>
            <a href="https://github.com/SoulDee" class="github"><img src="/assets/img/common/github.png"></a>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="dialog.help()">
            <mat-icon>help</mat-icon>
            <span>帮助说明</span>
        </button>
        <button mat-menu-item (click)="dialog.about()">
            <mat-icon>person</mat-icon>
            <span>关于我们</span>
        </button>
        <button mat-menu-item>
            <mat-icon>update</mat-icon>
            <a routerLink="/update" class="no-link">更新日志</a>
        </button>
        <button mat-menu-item disabled style="color: #aaa">
            <mat-icon>share</mat-icon>
            <span>图包分享</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="lineMenu">
            <mat-icon>rotate_left</mat-icon>
            <span>切换线路</span>
        </button>
    </mat-menu>


    <mat-menu #lineMenu="matMenu">
        <button mat-menu-item *ngFor="let server of serverMange.serveList"
            (click)="serverMange.changeServer(server.server)">
            <mat-icon>
                <ng-container *ngIf="server.isSelect">
                    <!-- <img src="/assets/img/icon/done.png"> -->
                    check
                </ng-container>
            </mat-icon>
            <span>{{server.name}}</span>
        </button>
    </mat-menu>
</header>
