.header {
    .title {
        display: inline-block;
        vertical-align: top;
        line-height: 36px;
        font-size: 24px;
        font-weight: normal;
        font-family: 'Lobster Two', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
    }
}

.github {
    width: 24px;
}

.no-link {
    color: #000;
}
