<mat-toolbar color="primary" class="header">
    <mat-toolbar-row>
        <span class="title">This Sayobot's Home</span>
        <span class="flex-spacer"></span>
        <button mat-raised-button disabled style="color: #000">图包分享计划(开发中...)</button>
        <button mat-button (click)="openSupprotDialog()">支持</button>
        <button mat-button (click)="openHelpDialg()">帮助</button>
        <button mat-button (click)="openAboutDialog()">关于</button>
        <button mat-button (click)="openUpdateLog()">更新日志</button>
    </mat-toolbar-row>
</mat-toolbar>
