img {
    width: 50%;
}

.detail {
    li {
        display: flex;
        line-height: 2.25rem;
        span {
            flex: 1;
            text-align: center;
        }
    }
}

.table-header {
    font-size: 1.25rem;
    font-weight: 700;
}
