.music-box-container {
    .music-mini,
    .music-box {
        position: fixed;
        z-index: 9999;
        display: flex;
        align-items: center;
        height: 45px;
        background: rgb(35, 35, 35);
        border-radius: 1px;
        color: #fff;

        &::hover {
            background: rgb(0, 0, 0);
        }

        .status,
        .list {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            cursor: pointer;
        }

        .list.active {
            background: #000;
        }

        .title {
            flex: 1;
        }
    }

    .music-mini {
        width: 300px;
        top: 5px;
        left: 50%;
        cursor: move;
    }

    .music-box {
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .music-play-list {
        position: absolute;
        top: 101%;
        left: 0;
        width: 100%;
        background: #232323;
        color: #aaa;
        margin-top: 1px;
        border-radius: 3px 3px 0 0;
        height: 300px;
        overflow: auto;

        .music-play-item {
            padding: 0.3em 0 0.3em 0.5em;
        }

        .active,
        .music-play-item:hover {
            background: #000;
            border-left: 5px solid #b54d3f;
        }
    }
}
