.music-box {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    background: rgba($color: #000000, $alpha: 0.5);
}

.controls-box {
    margin: 0 auto;
    height: 50px;
    width: 1200px;
    background: rgba($color: #000, $alpha: 0.5);
}
