.seach-wrapper {
    position: relative;
    .search-input {
        border: 3px solid #717171;
        border-radius: 12px;
        height: 38px;
        padding-left: 2em;
        outline: none;
        width: 100%;
        transition: all 0.3s;
        &:focus {
            border-color: #000000;
        }
    }
    .search-button {
        position: absolute;
        top: 8px;
        right: 10px;
        cursor: pointer;
        z-index: 1;
    }
    mat-card-header {
        position: relative;
        .close-options {
            position: absolute;
            right: 10px;
        }
    }
    .search-card {
        position: absolute;
        z-index: 10;
    }
    .options {
        font-size: 12px;
        .option {
            margin: 5px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            label {
                font-weight: 700;
                font-size: 14px;
            }
        }
        mat-checkbox {
            margin: 0 3px;
        }
    }
}

@media (max-width: 900px) {
    .seach-wrapper {
        .search-input {
            border-radius: 0;
        }
    }
}