<div class="seach-wrapper">
    <input
        type="text"
        class="search-input"
        #searchBox
        [placeholder]="'searchInput.placeholder' | translate"
        (keyup.enter)="onSearch(searchBox.value)"
    />
    <mat-icon
        (click)="panel.toggle()"
        class="icon-toggle-option"
        [style.background]="panel.isShow ? '#ccc' : '#fff'"
    >
        <img src="/assets/img/icon/options.png" />
    </mat-icon>
    <mat-icon (click)="onSearch(searchBox.value)" class="search-button"
        ><img src="/assets/img/icon/search.png" />
    </mat-icon>

    <mat-card *ngIf="panel.isShow" class="search-card">
        <mat-card-header>
            <mat-card-title>{{
                'searchInput.options' | translate
            }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <ul class="options">
                <li *ngFor="let options of filterOptions" class="option">
                    <label>{{ options.title }}：</label>
                    <mat-checkbox
                        *ngFor="let option of options.options"
                        [(checked)]="option.select"
                        (change)="isSelect($event, option)"
                        >{{ option.title }}</mat-checkbox
                    >
                </li>
            </ul>
        </mat-card-content>

        <mat-card-actions align="center">
            <button mat-raised-button (click)="onSearch(searchBox.value)">
                {{ 'searchInput.search' | translate }}
            </button>
            <button mat-raised-button (click)="resetOptions()">
                {{ 'searchInput.reset' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
</div>
