.map-detail-echart {
    display: flex;
    justify-content: space-around;
}

#map-detail-radar-echart {
    height: 300px;
    width: 400px;
}

#map-detail-curve-echart {
    height: 300px;
    width: 600px;
}

.progress-wrapper {
    position: relative;
    padding: 1rem 2rem;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: 'aim';
    }

    &::after {
        position: absolute;
        right: 0;
        top: 0;
        content: 'star';
    }
}
