<ng-container *ngIf="statis">
    <div class="results">
        匹配到歌手<span>{{ statis.match_artist_results }}</span
        >个, 匹配到作图者<span>{{ statis.match_creator_results }}</span
        >个, 匹配到标签<span>{{ statis.match_tags_results }}</span
        >个, 匹配到标题<span>{{ statis.match_title_results }}</span
        >个, 匹配到难度<span>{{ statis.match_title_results }}</span
        >个, 总共匹配到<span>{{ statis.results }}</span
        >个, 搜索耗时<span>{{ statis.time_cost }}</span
        >ms
    </div>
</ng-container>
