.header {
    background: #3a3f51;
    color: #fff;
}

@mixin card-border {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #ababab;
}

main {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;

    nav {
        flex: 0 0 200px;

        .nav-wrapper {
            @include card-border;
            background: #fff;

            li {
                height: 2rem;
                line-height: 2rem;
            }
        }
    }

    .wrapper {
        flex: 1;
        padding: 0 1rem;

        .border-wrapper {
            background: #fff;
            @include card-border;
        }
    }
}

.admin-wrapper {
    width: 100vw;
    height: 100vh;
    background: #e9edef;
}
