.search-bar {
    display: flex;
    font-size: 12px;
    color: #999;
    padding-left: 1px;
    height: 1.75rem;
    line-height: 1.75rem;

    .quick-search {
        cursor: pointer;
        margin: 0 3px;
    }
}
