@import '../../core';
.map-detail {
    .img-box {
        position: relative;
        font-size: 0.6em;
        .status {
            @include float-label(2.2rem);
        }
        .sid-float {
            @include float-label();
        }
        .close-btn {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            border-radius: 50%;
            border: 1px solid #000;
            font-size: 1rem;
            outline: none;
            background: rgba(0, 0, 0, 0);
        }
    }
    .detail {
        padding: 1em;
        .actions {
            margin: 1rem 0;
            @include flex-layout();
            button {
                margin: 0 0.5em;
                @include flex-layout();
                img {
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .map-detail {
        .img-box {
            map-tags {
                display: none;
            }
        }
        .detail {
            .actions {
                .small-hide {
                    display: none;
                }
            }
        }
    }
}
