@import '../../core';

.map-detail {

    .img-box {
        position: relative;
        font-size: 0.6em;

        .status {
            @include float-label(2.2rem);
        }

        .sid-float {
            @include float-label();
        }
    }

    .detail {
        padding: 1em;

        .actions {
            margin: 1rem 0;
            @include flex-layout();

            button {
                margin: 0 .5em;
                @include flex-layout();

                img {
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
}
