<div class="map-detail" *ngIf="mapDetail">

    <div class="img-box">
        <span class="status">{{getStatus() | uppercase}}</span>
        <span class="sid-float">SID : {{data.id}}</span>
        <map-tags [content]="mapDetail.tags" (searchChange)="onTagSearch()"></map-tags>
        <img [src]="imgUrl" alt="">
        <difficulty-table [maps]="mapDetail" (difficultChange)="difficultChange($event)"></difficulty-table>
    </div>

    <div class="detail">
        <detail-info [detail]="mapDetail" [info]="detailInfo"></detail-info>
        <map-detail-radar-chart [mapData]="detailInfo"></map-detail-radar-chart>

        <div class="actions">
            <button mat-raised-button color="accent" *ngIf="musicTimer" disabled>
                <span *ngIf="parttime">{{parttime}}s</span>
                <img *ngIf="!parttime" src="assets/img/common/loading.gif">
            </button>

            <button mat-raised-button color="accent" *ngIf="!musicTimer" (click)="playPart()">试听</button>
            <!-- <button mat-raised-button color="accent" (click)="playComplete()" disabled>完整歌曲(开发中...)</button> -->

            <button mat-raised-button color="accent" (click)="onDownLoad(config.mapV2)" [disabled]="isMapDownload">
                <span *ngIf="!isMapDownload">下载</span>
                <img *ngIf="isMapDownload" src="assets/img/common/loading.gif">
            </button>

            <button mat-raised-button color="accent" (click)="onDownLoad(config.map)" [disabled]="isMapDownload">
                <span *ngIf="!isMapDownload">下载(备用)</span>
                <img *ngIf="isMapDownload" src="assets/img/common/loading.gif">
            </button>

            <button mat-raised-button color="accent" (click)="onUnvedioDownload(config.mapUnVedio)"
                [disabled]="isMapUnvedioDownload">
                <span *ngIf="!isMapUnvedioDownload">不带视频</span>
                <img *ngIf="isMapUnvedioDownload" src="assets/img/common/loading.gif">
            </button>

            <button mat-raised-button color="accent" (click)="shared()">分享</button>
        </div>
    </div>
</div>
