<div class="container" *ngIf="isShow">
    <div class="options-wrap" *ngFor="let item of options">
        <div class="label">{{ item.title }}</div>
        <div class="options">
            <mat-checkbox
                class="option-item"
                [(checked)]="item.isAll"
                [disabled]="item.isAll"
                [(indeterminate)]="item.indeterminate"
                (change)="optionsAllChange($event, item)"
                >全部</mat-checkbox
            >
            <mat-checkbox
                class="option-item"
                *ngFor="let optionItem of item.options"
                [(checked)]="optionItem.isSelect"
                [disabled]="item.lastOptions && optionItem.isSelect"
                (change)="select($event, optionItem)"
                >{{ optionItem.title }}</mat-checkbox
            >
        </div>
    </div>
</div>
