.tags {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

.tags .mat-chip-list-wrapper {
    justify-content: flex-end;
    flex-flow: wrap-reverse;
}

.mat-chip.mat-standard-chip {
    background-color: rgba(0, 0, 0, 0.42);
    color: rgba(210, 210, 210, 0.87);
}

mat-chip {
    cursor: pointer;
}
