.content {
    font-size: 12px;
    padding: 1rem;
    color: #5d5d5d;
}

.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 2rem;
    }
}
