<ng-container *ngIf="messages$ | async as dataSource">
    <div class="announce-container" [style.width]="wrapperWidth">
        <div class="header">
            <span class="title">Message</span>
            <button mat-stroked-button (click)="close.emit()">Close</button>
        </div>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let item of dataSource.data">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ item.title }}
                    </mat-panel-title>
                    <mat-panel-description>
                        Time： {{ item.date }}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="content">
                    {{ item.content }}
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</ng-container>
