<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h2>更新日志</h2>
        <span class="flex-spacer"></span>
        <button mat-button routerLink="/">返回首页</button>
    </mat-toolbar-row>
</mat-toolbar>


<!-- web的更新数据 -->
<mat-list>
    <ng-container *ngFor="let updata of updataList">
        <h3 mat-subheader>{{updata.time}}</h3>
        <mat-list-item *ngFor="let item of updata.detail">
            <h4 mat-line>{{item}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
</mat-list>



<!-- sayobot 的更新数据  未整理 -->
<h3>Soyobot 的更新日志</h3>
<mat-accordion displayMode="flat" *ngIf="updataList">

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-10-15
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <img src="https://{{domain}}/png/o2.jpg" alt="">
            <ul>
                <li>O2键盘大量出货</li>
                <li>1000HZ</li>
                <li>6颗5.5组RGB，可设定不同特效和（或）颜色，RGB专用IC</li>
                <li>支持多达6种RGB特效，后期软件升级支持更多</li>
                <li>支持自定义设备名称</li>
                <li>支持最多5个用户配置文件，开机时按键选择</li>
                <li>支持IAP在线更新固件</li>
                <li>支持模拟鼠标操作和多媒体按键</li>
                <li>支持宏脚本</li>
            </ul>
            <a mat-raised-button color="accent" href="https://item.taobao.com/item.htm?spm=a230r.1.14.3.77484d6fejowZc&id=579397618209&ns=1&abbucket=11#detail">立即购买</a>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-07-25
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <img src="https://{{domain}}/png/yhjb.png" alt="">
            <ul>
                <li>**新增 osu!<a href="https://{{domain}}/sayobot.user.js">地图下载油猴脚本</a></li>
                <li>**新增 osu!<a href="https://{{domain}}/Ranked%e5%9c%b0%e5%9b%be%e4%b8%8b%e8%bd%bd%e5%99%a8.exe">Ranked地图批量下载器</a>
                </li>
                <li>支持下载99.99%的官方地图</li>
                <li>服务器在大陆，不会被墙</li>
                <li>提供多达2TB的高速地图下载服务</li>
                <li>有任何问题或建议请加群 807472391</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-06-29
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <img src="https://{{domain}}/png/yhjb.png" alt="">
            <ul>
                <li>版本更新到V0.1.8 复读++</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-06-26
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>***复读监视开启ヽ(ー_ー )ノ***</li>
                <li>最近15条内消息重复出现四次会自动复读一次(已忽略bot指令)，再次出现自动禁言10min</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-06-22
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="-box">
            <ul>
                <li>***roll 指令增强***</li>
                <li>V0.1.7_5 roll++</li>
                <li>支持十六进制和8进制参数</li>
                <li>命令:
                    <li>roll or !roll
                        <li>
                            <li>roll 参数1
                                <li>
                                    <li>roll 参数1 参数2
                                        <li>
                                            <li>roll 参数1 参数2 参数3
                                                <li>
                                                    <li>roll 参数1 参数2 参数3 参数4
                                                        <li>
                                                            <li>每个参数用空格分开！！！
                                                                <li>
                                                                    <li>参数可以是文字、符号、小表情，甚至图片</li>
            </ul>


            <mat-tab-group>
                <mat-tab label="roll后没空格">
                    <li>进入单选模式，此时最大支持8个参数（也就是8选1），从第一个空格后算第一个参数</li>
                </mat-tab>
                <mat-tab label="4个参数">
                    ----4个<br> --------试图把参数2和参数3转化为数值
                    <br> --------如果参数2小于参数3
                    <br> -----------输出随机数 参数2～参数3<br> -----------输出前面加上冒号
                    <br> --------否则
                    <br> -----------随机数 0～1<br> -----------如果随机数是0
                    <br> ---------------输出文字
                    <参数2><br> -----------否则
                        <br> ---------------输出文字
                        <参数3><br> ---------------把参数1放到输出的开头
                            <br> ---------------参数4放到输出的结尾
                            <br> ---------------发送消息
                            <br>
                </mat-tab>
                <mat-tab label="3个参数">
                    --------跟四个参数相似，没有参数4而已。<br>
                </mat-tab>
                <mat-tab label="2个参数">
                    --------试图把参数1和参数2转化为数值<br> --------如果参数1小于参数2
                    <br> ------------输出随机数 参数1～参数2<br> ------------输出前面加上冒号
                    <br> --------否则
                    <br> ------------随机数-0～1
                    <br> ------------如果随机数是0
                    <br> ----------------输出文字 当然是
                    <参数1>咯<br> ------------否则
                        <br> ----------------输出文字 当然是
                        <参数2>咯<br>
                </mat-tab>
                <mat-tab label="1个参数">
                    --------试图转化参数1成数值<br> --------如果大于0
                    <br> ------------输出随机数 0～参数1<br> --------否则
                    <br> ------------输入随机数 0～99<br> ------------输出前面加上艾特
                </mat-tab>
            </mat-tab-group>

        </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-04-03
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>第一批<a href="https://{{domain}}/png/o1v1">osu V1</a>键盘发货</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-03-29
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>增加2KwH备用电池</li>
                <li>cpu升级到4核</li>
                <li>内存增加到16GB</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-02-28
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>*新增<a href="https://{{domain}}/%E5%B0%8F%E5%A4%9C%E3%81%AEosu!%E4%B8%8B%E8%BD%BD%E5%99%A8.exe">小夜のosu!下载器</a>点击谱面链接可以自动下图
                </li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-02-08
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>事故**供电局抽风突然停电两次，导致半个多月保存在内存的数据丢失，文件系统损坏，清空了所有数据。</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-02-03
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>*新增 Sayobot主页（简陋 辣鸡 不完善）</li>
                <li>！感谢<a href="https://osu.ppy.sh/u/11173658">Yumli</a> 提供的网页跳转服务</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-02-01
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>*修复 !m等指令和 白菜、interbot 的指令重叠。。。</li>
                <li>*修复 SH数据的显示、对比</li>
                <li>*启用 可以更新框框了，具体看小夜空间相册。</li>
                <li>*新增 更改框框会顺便修改这歌框的主要字体颜色</li>
                <li>*新增 上传自定义的资料卡元素（图片、框框、字体）</li>
                <li>!感谢<a href="https://osu.ppy.sh/u/11173658">Yumli</a> 提供的文件站：<a href="https://files.yumli.net">https://files.yumli.net</a></li>
                <li>想自定义背景的话请上传到上面的地址，不能太模糊，否则无视，文件名最好包含id，有空我会添加上的</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-01-31
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <img src="https://{{domain}}/img/2b44e1c66b5bd93f_c.jpg">
            <ul>
                <li>虽然有点懒（不是有点是很懒好吗！）但还是更新一下吧。</li>
                <li>本次更新（改）功能较乱，大概有以下</li>
                <li>*废除!osu !tk !ctb !mania这四个指令，请使用!o !t !c !m这四个查询自己的四个模式，查别人可以直接在命令后面@ta或者输入id或UID都行</li>
                <li>*废除更新指令!update，更改为。。。请继续看下去</li>
                <li>*头像框下面那条横线是个签，请使用!更新个签+个签内容来设置，个签默认居左，可以在个签前添加适量的空格来居中/居右</li>
                <li>*!更新头像 顾名思义不解释</li>
                <li>*!更新背景+背景图编号可以更换资料卡背景，具体图片和编号看bot空间（暂时还没有!壁纸这个指令）</li>
                <li>*!更新框框+x+y</li>
                <li>x:头像框是0，最小下面6个框是1，个签框是2，备用3暂未定义，a为更新全部</li>
                <li>y详情见框框相册。。。因为暂时还没有几个框，所以这个相册暂时还没有，等相册更新再用吧</li>
                <li>*!更新默认 其实是还原到默认的资料卡界面。</li>
                <li>*注意！！个性化资料卡最好私聊小夜，避免打扰到别人，避免刷屏，谢谢！（实在不听话我就把群里的这个功能关了）</li>
                <li>*注意！！私聊小夜是不需要加感叹号的</li>
                <li>**注意！！每天0:00至数据库更新完毕查询信息对比的是7天前的数据（如果有的话）</li>
                <li>以上！！！</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-01-12
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>日常更新。。。（现已全部失效）</li>
                <li>*!updata改回正常的!update（interbot不在了不用担心指令冲突了）（2018-1-31废除）</li>
                <li>*!setid也可以绑定但是没有任何反馈信息（解决为避免指令冲突而用户又需要绑定多个bot的麻烦）</li>
                <li>*添加半成品文字版查询!stats (选填&lt OSUid &gt)(其他模式（,1）（,2）（,3）)(特点，速度快（+1.3s），不用点开图片！)（已废除）</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-01-08
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>新增 昨日数据对比（更新于00:06左右）（每天0:00-数据库更新完毕之前 对比的是7天前的数据（如果有））</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-01-03
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>*修复ppy改了数据导致SS数量等错误，但是得到的数据S的数量还是错的(不含SH)</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018-01-02
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>第一次更新</li>
                <li>*查看游戏模式！！</li>
                <li>**更改 !o 戳泡泡模式</li>
                <li>!t 太鼓模式</li>
                <li>!c 接水果模式</li>
                <li>!m osu!mania模式</li>
                <li>*更新 指令后面@别人可以查询别人的信息（需要对方绑定）</li>
                <li>!OSU !mania !ctb !tk 加id可以查询所有玩家（2018-1-31已废除）</li>
                <li>如!OSU baka</li>
                <li>!mania bakalinli</li>
                <li>*更新头像指令</li>
                <li>!updata (因为群里另一个bot占用了update指令。。。)</li>
                <li>***修复_(:з」∠)_std模式没有成绩导致添加不上</li>
                <li>***修复_(:з」∠)_查询的模式没有成绩会数据错误</li>
                <li>***更新查询逻辑</li>
                <li>****有时候添加id会被电脑管家拦截，只要不说添加失败就是成功了</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2017-12-31
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>*解决头像获取问题</li>
                <li>*更新元旦(春节?)主题？</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2017-12-30
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>*解决id内包含字符 [ ] 被转码导致无法正常绑定id</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2017-12-28
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>小夜诞生。</li>
                <li>*绑定id&lt;!set&gt; &nbsp; 格式!set (osu! id)</li>
                <li>*4个模式的游戏信息查询(需绑定id)</li>
                <li>!o 戳泡泡模式</li>
                <li>!t 太鼓模式</li>
                <li>!c 接水果模式</li>
                <li>!m mania（骂娘x）模式</li>
                <li>*解绑id&lt;!unset&gt;</li>
                <li>!感谢<a href="https://osu.ppy.sh/u/6135359">快感鸟</a>提供的ruby demo</li>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2017-12-25
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-box">
            <ul>
                <li>开始动手写了小夜的第一行代码</li>
            </ul>
        </div>
    </mat-expansion-panel>

</mat-accordion>