<h2>关于小夜(Sayobot) & 小夜相关</h2>

<mat-accordion displayMode="flat">
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                小夜是什么？
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <p>
                小夜是一个基于酷Q、
                <a href="{{ config.kq }}" target="_block">osu!api open beta</a>
                的QQ bot.
            </p>
            <p>
                主要编写语言是C++，辅以脚本语言Ruby、powershell、cmd（批处理）.
            </p>
            <p>
                处理图片使用
                <a href="{{ config.imageMagick }}" target="_block"
                    >ImageMagick</a
                >
            </p>
            <p>数据库目前还是用的目录树和文本文件</p>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                小夜能做什么？
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <p>
                小夜目前能做的事情还不是很多，但可以帮你查一下osu游戏的基本数据，然后生成一个资料卡。
            </p>
            <img src="{{ config.useHelper }}" />
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                小夜のosu!下载器 & Ranked地图下载器
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <p>
                <a href="{{ config.sayoDown }}" target="_block"
                    >小夜のosu!下载器</a
                >点击谱面链接可以自动下图,mp神器，麻麻再也不用担心我的下图速度了！
            </p>
            <p>
                <a href="{{ config.sayoRankDown }}">Ranked地图下载器</a
                >批量下载已经Ranked地图或者指定id的bp列表并存入收藏夹
            </p>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                适合玩osu!的迷你键盘
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <h3>
                <a href="{{ config.buySayo }}">这里</a
                >前往淘宝购买适合玩osu!的迷你键盘！
            </h3>
            <div class="img-box">
                <img
                    *ngFor="let picUrl of config.sayoShowPngs"
                    src="{{ picUrl }}"
                />
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                联系小夜！
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <b>群号 {{ config.qqGroup }}</b>
            <img src="{{ config.qqGroupPng }}" />
        </div>
    </mat-expansion-panel>
</mat-accordion>
