@import './link'; // 跳转链接样式
@import './position'; // 定位布局

@mixin text-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



// 禁用文字选中 none | text
@mixin text-no-select($isSelet: none) {
    -moz-user-select: $isSelet;
    -webkit-user-select: $isSelet;
    -ms-user-select: $isSelet;
    -khtml-user-select: $isSelet;
    user-select: $isSelet;
}

// 字体图标
@mixin font-icon($size: 16px) {
    font-size: $size;

    i {
        font-size: $size;
        height: $size;
        width: $size;
    }
}

// 高亮关键文字
.high-light-text {
    @include text-no-select(text);
    font-weight: lighter;
    border-bottom: 2px solid #000;
    padding: 0 .5em;
}


@mixin float-label($top: .5rem, $left: .5rem) {
    position: absolute;
    left: $left;
    top: $top;
    background: rgba(0, 0, 0, 0.7);
    border-radius: .5rem;
    padding: .15rem .5rem;
    color: #fff;
    z-index: 1;
    font-size: 0.6em;

    i {
        font-size: 16px;
    }
}
