<div class="swiper-container">
    <div class="swiper-wrapper" (mouseover)="stop()" (mouseout)="start()">
        <div class="swiper-slide" *ngFor="let slide of slides">
            <div class="wrap">
                <img src="{{ slide.img1000x150 }}" class="pic" />
                <div class="link-bg">
                    <a
                        href="{{ slide.uri }}"
                        class="link one-line"
                        target="_blank"
                        >{{ slide.title }}</a
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
