.container {
    position: sticky;
    top: 5rem;
    z-index: 10;

    .box {
        width: 100%;
        border: 1px solid #c5c5c5;
        outline: none;
        border-radius: 5px;
        padding: 0 2rem;
        height: 40px;
        line-height: 40px;
        font-size: 12px;

        &:hover {
            box-shadow: 0 1px 5px #c5c5c5;
        }
    }

    .icon-options {
        left: 6px;
    }

    .icon-search {
        right: 6px;
    }
}
