<div class="container">
    <mat-icon
        class="icon-m icon-options ab-center-y"
        (click)="togglePanel()"
        matTooltip="{{ 'searchCont.box.optTip' | translate }}"
    >
        menu</mat-icon
    >
    <input
        type="text"
        class="box"
        placeholder="{{ 'searchCont.placeholder' | translate }}"
        #searchBox
        (keyup.enter)="onSearch(searchBox.value)"
    />
    <mat-icon
        class="icon-m icon-search ab-center-y"
        (click)="onSearch(searchBox.value)"
        >search</mat-icon
    >
</div>
