@import './app/theme/reset';
@import './app/theme/common';
@import './app/theme/scrollbar';
@import './app/theme/dialog';
@import './app/theme/layout';
@import './app/theme/animation';
@import './app/theme/icon';

@font-face {
    font-family: 'Titillium Web';
    src: url('./assets/fonts/Titillium-Web.ttf');
}

main {
    margin-top: 64px;
}
