@import './app/theme/reset';
@import './app/theme/common';
@import './app/theme/scrollbar';
@import './app/theme/dialog';
@import './app/theme/layout';
@import './app/theme/animation';
@import './app/theme/icon';

@font-face {
    font-family: 'Titillium Web';
    src: url('./assets/fonts/Titillium-Web.ttf');
}

main {
    margin-top: 64px;
}

$primary: #ff4081;

.volume-wrapper {
    .mat-slider-horizontal {
        height: 32px;
    }
    .mat-slider-horizontal .mat-slider-wrapper {
        background-color: #ccc;
        top: 15px;
    }
}
