@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/theme/reset';
@import './app/theme/common';
@import './app/theme/scrollbar';
@import './app/theme/dialog';
@import './app/theme/layout';

@font-face {
    font-family: 'Titillium Web';
    src: url('./assets/fonts/Titillium-Web.ttf');
}

main {
    margin-top: 64px;
}
