<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            点击刷新按钮来刷新设备列表
            <button mat-button (click)="getDeviceList()" mat-stroked-button>刷新</button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="device?.devices">
            <ul class="connect-list">
                <li *ngFor="let item of device?.devices; let index = index" class="connect-item">
                    {{item?.product_string}}

                    <div class="actions">
                        <button mat-raised-button (click)="connect(item?.path, index)" color="accent"
                            [disabled]="device?.isConnect">Connect</button>
                        <button mat-raised-button (click)="close()" color="accent"
                            [disabled]="!device?.isConnect || index !== current">Close</button>
                    </div>
                </li>
            </ul>
        </ng-container>

        <ng-container *ngIf="!device.devices">
            <mat-list>
                <h3 mat-subheader>获取设备失败，请检查以下项目：</h3>
                <mat-list-item>
                    <mat-icon mat-list-icon>note</mat-icon>
                    <h4 mat-line>
                        是否启动了 Sayo_control_Cli.exe 服务，可以点击这里下载该服务
                        <button mat-button (click)="onDownload()">Click me!!!</button>
                    </h4>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>note</mat-icon>
                    <h4 mat-line>
                        是否正确的插入了触盘，没有的话可以到这里购买
                        <a href="https://shop129081486.taobao.com/
                        " target="_blank" rel="noopener noreferrer">Click me!!!</a>
                    </h4>
                </mat-list-item>
            </mat-list>
        </ng-container>
    </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<mat-card class="card" *ngIf="device.isConnect && device.operates">
    <mat-card-header>
        <mat-card-title>选择一个要做的操作项</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <button mat-raised-button *ngFor="let btn of device.operates" (click)="getKeyItem(btn)"
            [disabled]="isSelect && device.currentOperate.cmd !== btn.cmd" color="accent">{{btn.title}}</button>
    </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<mat-card class="card" *ngIf="device.result && isSelect && device.isConnect">
    <mat-card-header>
        <mat-card-title>
            点击要修改的键位并从下拉框选择,修改完毕后记得
            <button mat-stroked-button (click)="save()">Save</button>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="form step">
            <div class="target" *ngFor="let keyItemOption of device.result">
                <div class="item">
                    <ng-container *ngIf="keyItemOption.mode as mode">
                        <div class="th">{{mode.th}}</div>
                        <div class="td">
                            <span *ngIf="!mode.isEdit" (click)="isEdit(mode)">{{mode.td}}</span>
                            <mat-form-field *ngIf="mode.isEdit">
                                <mat-select placeholder="请选择模式" [(value)]="mode.code"
                                    (openedChange)="onSelect($event, mode)">
                                    <mat-option *ngFor="let option of mode.options" [value]="option.code">
                                        {{option.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>
                <div *ngFor="let item of keyItemOption.keyItems" class="item">
                    <div class="th">{{item.th}}</div>
                    <div class="td">
                        <span *ngIf="!item.isEdit" (click)="isEdit(item)">{{item.td}}</span>
                        <mat-form-field *ngIf="item.isEdit && !item.multiple">
                            <mat-select placeholder="请选择按键" [(value)]="item.code"
                                (openedChange)="onSelect($event, item, keyItemOption)">
                                <mat-option *ngFor="let option of item.options" [value]="option.code">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="item.isEdit && item.multiple">
                            <mat-select placeholder="请选择按键" multiple #multi [(value)]="item.code"
                                (openedChange)="onSelectMulti($event, keyItemOption)">
                                <mat-option *ngFor="let option of item.options" [value]="option.code">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
