@import '../../core';

.content {
    text-indent: $text-indent;
    line-height: $text-line-height;
}

.no-show {
    @include flex-layout($x: flex-end);
}

.actions {
    padding: 2em;
    width: 100%;
}
