$no-load-ng: '/assets/img/home/nobg.jpg';

.img-box {
    position: relative;
    font-size: 0.6em;

    .close-btn {
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 10;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.map-detail-container {
    padding: 1em;

    .map-title {
        margin-bottom: 2rem;
    }

    .map-content {
        position: relative;
        display: flex;
        align-items: center;
        height: 300px;

        map-detail-info {
            display: block;
            width: 300px;
            height: 100%;
        }

        map-detail-charts {
            height: 100%;
            display: block;
            flex: 1;
        }
    }
}

.actions {
    margin: 3rem 0;
    button {
        margin: 0 0.5em;
        height: 36px;
        img {
            width: 16px;
            height: 16px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 900px) {
}

img {
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
}

img::after {
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url($no-load-ng) no-repeat center;
    background-size: contain;
}
