<div class="map-detail-wrapper" *ngIf="mapDetail">
    <div class="img-box">
        <mat-icon class="close-btn" matDialogClose>close</mat-icon>
        <img [src]="imgUrl" alt="" />
        <map-detail-level
            [bidDataList]="mapDetail.bid_data"
            (switch)="detailInfo = $event"
        ></map-detail-level>
    </div>

    <div class="map-detail-container">
        <h1 class="map-title one-line">{{ mapDetail?.title }}</h1>
        <div class="map-content">
            <map-detail-info [detail]="mapDetail" [info]="detailInfo">
            </map-detail-info>
            <map-detail-charts [mapData]="detailInfo"></map-detail-charts>
        </div>
    </div>

    <div class="actions flex-center">
        <button
            mat-raised-button
            color="accent"
            (click)="play()"
            class="flex-center"
        >
            {{ 'mapDetail.action.play' | translate }}
        </button>

        <a mat-raised-button color="accent" [href]="link" target="_blank">
            {{ 'mapDetail.action.preview' | translate }}
        </a>

        <button
            mat-raised-button
            color="accent"
            (click)="onDownLoad('full')"
            [disabled]="isMapDownload"
            class="flex-center"
        >
            <span *ngIf="!isMapDownload; else downLoading">
                {{ 'mapDetail.action.down' | translate }}
            </span>
        </button>

        <button
            mat-raised-button
            color="accent"
            (click)="onUnvedioDownload('novideo')"
            [disabled]="isMapUnvedioDownload"
            class="flex-center"
        >
            <span *ngIf="!isMapUnvedioDownload; else downLoading">
                {{ 'mapDetail.action.downNotVideo' | translate }}
            </span>
        </button>

        <button
            mat-raised-button
            color="accent"
            (click)="onDownLoad('mini')"
            [disabled]="isMapDownload"
            class="flex-center"
        >
            <span *ngIf="!isMapDownload; else downLoading">
                {{ 'mapDetail.action.dewnMini' | translate }}
            </span>
        </button>

        <button
            mat-raised-button
            class="flex-center"
            color="accent"
            (click)="shared()"
        >
            {{ 'mapDetail.action.share' | translate }}
        </button>
    </div>
</div>

<ng-template #downLoading>
    <img src="assets/img/common/loading.gif" />
</ng-template>
