.items {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    .item {
        display: flex;
        flex: 0 0 33.33%;
        margin: 0.1rem 0;
        .label {
            flex: 1;
            text-align: right;
            font-weight: bold;
        }
        .content {
            display: inline-block;
            max-width: 100px;
        }
    }
}

@media (max-width: 900px) {
    .items {
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        font-size: 0.6rem;
        .item {
            font-size: 0.8em;
            .label {
                text-align: left;
            }
        }
    }
}
